.box {
    width: auto;
    height: auto;
    border: 2px solid rgb(134, 204, 227);
    margin: 40px;
    background-color: rgba(109, 140, 172, 0.481);
    height: auto;
    display: flex
    
    }

h1 {
    color: blue;
}

#img {
    border: 10px;
}